<header id="activation" class="intro-block bg-color1 cover-bg asirewards-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-container">
          <h3 class="title">Business Login</h3>

          <%= render partial: '/sessions/form' %>

        </div>
      </div>
    </div>
  </div>
</header>
