<p>Dear <%= @booking.user.name %>,</p>

<p>
We are in receipt of your booking request. Our staff will now check availability at the destination and dates you have requested. Once we have confirmation from the resort our staff will get back to you in order to collect the Booking and Administration Fee and finally confirm your booking.
</p>

<p>
Yours sincerely,<br />
ASI Rewards Team
</p>
