<header id="activation" class="intro-block bg-color1 cover-bg asirewards-hero">
  <div class="container">

    <div class="row">
      <div class="col-md-6 dark-bg">
        <div class="slogan">
          <h1>
            <strong>
              Thank you!
            </strong>
          </h1>

          <p>
          Thank you for your purchase, your certificate will be sent to you by email. Please follow instructions to activate and book.
          </p>

          <br /><br />

          <%= link_to(
            "Go to activation",
            root_path, class: "btn btn-lg btn-primary"
          ) %>
        </div>
      </div>
    </div>
  </div>
</header>

