<table>
  <tr>
    <th>Customer</th>
    <th>Certificate</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

  <% @distributions.each do |distribution| %>
    <tr>
      <td><%= distribution.email %></td>
      <td><%= distribution.certificate_title %></td>
      <td><%= distribution.status %></td>
      <td>None</td>
    </tr>
  <% end %>
</table>

<%= link_to "Send certificate", new_distribution_path %>
