<header id="activation" class="intro-block bg-color1 cover-bg asirewards-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-container">
          <h3 class="title">Password Reset</h3>
          <p>
          You will receive an email within the next few minutes. It
          contains instructions for changing your password.
          </p>

          <%= link_to(
            "Back to homepage",
            root_path, class: "btn btn-lg btn-block btn-primary"
          ) %>
      </div>
      </div>
    </div>
  </div>
</header>
