<p>Hey <%= @staff.name %>,</p>

<p>A new contact request has been received through the ASI Rewards site, please process the request below as soon as possible. </p>

<p>
Name: <%= @contact.name %><br />
Email: <%= @contact.email %><br />
Message: <%= @contact.message %>
</p>

<p>
Thanks,<br />
ASI Rewards Website.
</p>
