<p>
Please see your certificate attached, you are one step closer to going on your holiday. To activate the certificate please click on this link, or go to WEBSITE to activate using the code displayed on your certificate.
</p>

<p>
You have 12 months to activate, and then another 12 months to make your booking.
</p>
