<section id="contact" class="dark-bg bg-color1 cover-bg asirewards-contact" >
  <div class="container">
    <div class="editContent sep-bottom">
      <h2 class="title">Contact Us</h2>
      <p>In our work we try to use only the most modern, convenient and interesting solutions.<br>We want the template you downloaded look unique and new for such a long time as it is possible.</p>
    </div>
    <form action="scripts/contact.php" role="form" id="contact_form" novalidate="novalidate">
      <div class="form-group">
        <input type="text" class="form-control" id="contact_name" placeholder="Full name" name="name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="contact_email" placeholder="Email Address" name="email">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="4" placeholder="Your message or question" id="contact_message" name="message"></textarea>
      </div>
      <button type="submit" id="contact_submit" data-loading-text="•••" class="btn btn-lg btn-block btn-primary">Send Message</button>
    </form>
  </div>
</section>

