<table class="certificates">
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Actiion</th>
  </tr>

  <% @certificates.each do |certificate| %>
    <tr>
      <td><%= certificate.title %></td>
      <td><%= certificate.status %></td>

      <td>
        <%= link_to "Preview", certificate_preview_path(certificate) %>
      </td>
    </tr>
  <% end %>
</table>

