<header id="activation" class="intro-block bg-color1 cover-bg asirewards-hero top60">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="form-container">
          <h3 class="title">New Certificate</h3>

          <%= render "form" %>

        </div>
      </div>
    </div>
  </div>
</header>
