.asirewards-hero{
  background-image: asset-url("asirewards-hero.jpg");
  padding-top: 120px;
}

.asirewards-hero.top60{
  padding-top: 60px;

  .form-group textarea, .certificate_banner input, .form-group.file{
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }

  .form-group.file{
    padding-bottom: 25px;
  }

  .form-group textarea{
    height: 120px;
  }

  .certificate_banner label{
    display: none;
  }

  .certificate_banner input{
    padding: 20px 25px 20px 0;
    width: 100%;
  }
}

.form-horizontal .form-group{
  margin-left: 0px;
  margin-right: 0px;
}

.table-responsive td a{
  color: #00c0ff;
  padding: 0 5px;
  text-decoration: underline;
}

.asirewards-destinations{
  padding-top: 75px;

  .post-desc{
    text-align: justify;
    a{
      color: #00c0ff;
    }
  }
}

.asirewards-contact{
  background-image: asset-url("asirewards-contact.jpg");
  padding-top: 100px;
}

.asirewards-footer{
  background-color: rgb(255, 255, 255);
  color: #222;
}

.certificate_destinations{
  margin: 10px 0;

  .form-group{
    width: 100%;

    label.check_boxes{
      display: none;
    }

    span.checkbox{
      float: left;
      width: 33%;

      input.check_boxes{
        margin-right: 5px;
        -webkit-appearance: checkbox;
        -moz-appearance:    checkbox;
        appearance:         checkbox;
      }
    }
  }
}
