.asirewards-hero{
  background-image: asset-url("asirewards-hero.jpg");
  padding-top: 120px;
}

.form-horizontal .form-group{
  margin-left: 0px;
  margin-right: 0px;
}

.asirewards-destinations{
  padding-top: 75px;
}

.asirewards-contact{
  background-image: asset-url("asirewards-contact.jpg");
  padding-top: 100px;
}

.asirewards-footer{
  background-color: rgb(255, 255, 255);
  color: #222;
}
